<div class="container">
  <h3>Baseball Stats</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" (click)="setOrder('given_name')">Player Name
          <span *ngIf="propertyName == 'given_name'" [hidden]="reverse">▼</span
            ><span *ngIf="propertyName == 'given_name'" [hidden]="!reverse">▲</span>
        </th>
        <th scope="col" (click)="setOrder('runs')">Runs
          <span *ngIf="propertyName == 'runs'" [hidden]="reverse">▼</span
            ><span *ngIf="propertyName == 'runs'" [hidden]="!reverse">▲</span>
        </th>
        <th scope="col" (click)="setOrder('home_runs')">Home Runs
          <span *ngIf="propertyName == 'home_runs'" [hidden]="reverse">▼</span
            ><span *ngIf="propertyName == 'home_runs'" [hidden]="!reverse">▲</span>
        </th>
        <th scope="col" (click)="setOrder('avg')">Average
          <span *ngIf="propertyName == 'avg'" [hidden]="reverse">▼</span
            ><span *ngIf="propertyName == 'avg'" [hidden]="!reverse">▲</span>
        </th>
        <th scope="col" (click)="setOrder('ops')">OPS
          <span *ngIf="propertyName == 'ops'" [hidden]="reverse">▼</span
            ><span *ngIf="propertyName == 'ops'" [hidden]="!reverse">▲</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let item of data | paginate: { itemsPerPage: 25, currentPage: page, totalItems: count } | orderBy: order : reverse : true "> -->
      <tr *ngFor="let item of data | paginate: { itemsPerPage: 25, currentPage: page, totalItems: count } | orderBy:propertyName:reverse ">
        <td>{{item['given_name'] != null ? item['given_name'] : 'N/A'}}</td>
        <td>{{item['runs'] != null ? item['runs'] : 'N/A'}}</td>
        <td>{{item['home_runs'] != null ? item['home_runs'] : 'N/A'}}</td>
        <td>{{item['avg'] != null ? item['avg'] : 'N/A'}}</td>
        <td>{{item['ops'] != null ? item['ops'] : 'N/A'}}</td>
      </tr>
    
    </tbody>
  </table>

  <pagination-controls *ngIf="data?.length != 0" class="text-center" (pageChange)="handlePageChange($event)"></pagination-controls>
</div>